{% extends 'base.html' %}
{% block 'body' %}
{% load widget_tweaks %}
<div class="card" style="width: 90%;margin: 4% auto;">
    <div class="row">
        <div class="col-8" style="background-color:#F5F5DC;padding:3%;">
            <div style="font-size: 24px;font-weight: 600;text-align: center;">Login</div>
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form%}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    {{ field.errors}}
                </div>
                {% endfor %}
                <input type="submit" value="Login" class='btn btn-success' style='width:135px; margin:auto; display:block'>
            </form>
        </div>
        <div class="col-4" style="background-color:#788;">hh
        </div>
    </div>
</div>
{% endblock %}