{% extends 'base.html' %}
{% block 'body' %}
{% load widget_tweaks %}
<div class="card" style="width: 90%;margin: 4% auto; height: calc(100vh - 132px);">
    <div class="row">
        <div class="col-7" style="background-color:#F5F5DC;height: calc(100vh - 132px); padding:6%;">
            <div class="container">
                <div class="head-section">
                    <span class="logo">Evento</span>
                    <a href="#" class="btn btn-item "> Login</a>
                    <a href="#" class="btn btn-item "> Signup</a>
                </div>
                <div style="margin-top: 16%;font-size: 26px;font-weight: 600;">Sign In</div>
                <span style="font-size: 16px;font-weight: 400;color: gray;line-height: 1.6;">Sign in to continue to our site.</span>
                <form method="post" novalidate style="margin-top:4%;">
                    {% csrf_token %}
                    {% for field in form%}
                    <div class="mb-3">
                        {% render_field field class="form-control" placeholder=field.label  %}
                        
                        {% for error in field.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                  
                    </div>
                    {% endfor %} 
                    <input type="submit" value="Login" class='btn btn-success' style='width:100%; margin:auto; display:block'>
                </form>
            </div>
        </div>
        <div class="col-5" style="background-color:#788;height: calc(100vh - 132px);">
        </div>
    </div>
</div>
{% endblock %}